@import "./colors";
@import "./variables";

// @mixin media($breakpoint) {
//   $value: map-get($breakPoints, $breakpoint);

//   @if $value !=null {
//     $start: map-get($value, start);
//     $end: map-get($value, end);

//     @if $start==null {
//       @media (max-width: $end) {
//         @content;
//       }
//     } @else if $end==null {
//       @media (min-width: $start) {
//         @content;
//       }
//     } @else {
//       @media (min-width: $start) and (max-width: $end) {
//         @content;
//       }
//     }
//   } @else {
//     @warn "Invalid breakpoint `#{$breakpoint}`.";
//   }
// }

// %handle-text-overflow {
//   word-break: break-all;
//   max-width: 280px;
//   @include media(mobile) {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     max-width: 208px;
//   }
// }

%flexCenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%fieldIcon {
  float: right;
  position: relative;
  top: -67px;
  right: 15px;
  z-index: 2;
}

@mixin blockStyle($width: 408px, $padding:42px 64px 68px) {
  width: $width;
  background: #ffffff;
  padding: $padding;
}

@mixin inputStyles($width: 100%) {
  width: $width;
  border-radius: 10px;
  font-size: $font-size-form;
  line-height: 22px;
  font-family: $font-family;
  font-size: 14px;
  line-height: $line-height-form;
  letter-spacing: $letter-spacing;
  color: $input-text-color;
  padding-left: 20px;
  margin-bottom: 30px;
}

@mixin buttonStyles($width: 100%) {
  line-height: $line-height-form;
  width: $width;
  letter-spacing: 0.46px;
  height: 45px;
  font-family: $font-family;
  font-size: $font-size-form;
  border: none;
}

@mixin title() {
  font-family: $font-family;
  font-size: $intro-text;
  letter-spacing: $letter-spacing;
  color: $text-color-black;
}

@mixin text($letter-spacing:0.015em,$font-size:14px) {
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  color: $text-color-grey;
}
