@import "../../styles/root";

.SignInContainers {
  @extend %flexCenterCenter;
  background: rgb(230, 230, 235);
  padding-top: 90px;
}

.SignInBlock {
  @include blockStyle($width: 500px, $padding: 53px 40px 20px);

  .SignInTitle {
    @include tabuLearnH2;
  }

  .SignInText {
    padding: 15px 0 25px;
    @include tabuLearnH3;
  }

  .SignInLabel {
    @include labelStyle();

    .SignInLabelSpan {
      @include labelSpanStyle();
    }
  }

  .SignInInput {
    @include inputStyles();
  }
.SignInPlaceholder::placeholder{
  letter-spacing: 3px;
}
  .SignInIcon {
    @extend %fieldIcon
  }

  .SignInButton {
    @include buttonStyles();
    margin-top: 10px;
  }

  .SignInFormText {
    text-align: center;
    margin-top: 10px;
    line-height: 28px;

    a {
      color: #2cb3ff;
      text-decoration: underline;
    }
  }
}
