@import "../../../resources/root";

.containers {
  @extend %flexCenterCenter;
  .block {
    @include blockStyle($width: 720px, $padding: 42px 64px 30px);

    .title {
      @include title();
    }

    .text {
      @include text($letter-spacing: 0.4px);
      margin-bottom: 35px;
    }
    .textIncorrect {
      @include text($letter-spacing: 1px, $font-size: 12px);
      margin-top: 3px;
    }
    a {
      color: $focus-color;
    }
    .marginTop {
      margin-top: 24px;
    }
    .padding {
      padding: 22px;
    }

    .input {
      width: 100%;
    }

    .button {
      @include buttonStyles($width: 280px);
    }
  }
}
