@import "../../../resources/root";

.containers {
  @extend %flexCenterCenter;
  .block {
    @include blockStyle($width: 592px, $padding: 26px 64px 12px);

    .title {
      @include title();
    }

    .text {
      @include text($letter-spacing: 0.4px);
      margin-bottom: 25px;
    }

    .textIncorrect {
      @include text($letter-spacing: 0.4px,$font-size:12px);
      margin-top: 3px;
    }

    .marginTop {
      margin-top: 24px;
    }

    .input {
      width: 100%;
      margin-top: 10px;
    }

    .button {
      @include buttonStyles($width: 280px);
    }
  }
}
