@import "../../../resources/root";

.containers {
  @extend %flexCenterCenter;
  height: 100vh;

  .block {
    @include blockStyle($padding: 42px 64px 68px);

    .title {
      @include title();
    }

    .text {
      @include text($letter-spacing: 0.15px);
      font-weight: 400;
      margin-bottom: 37px;
    }

    .textLink {
      @include text($letter-spacing: 0.1px);
      color: $focus-color;
      margin-left: 5px;
      font-weight: 500;
    }

    .input {
      width: 100%;
    }

    .smolllink {
      margin: 30px 0 10px;
      text-align: right;
      a {
        font-size: $micro-text;
        color: $focus-color;
      }
    }

    .chackbox {
      margin: 33.5px 0;
      .colorheckbox {
        color: $focus-color;
      }
    }

    .button {
      @include buttonStyles();
    }
  }
}
