@import "../../../resources/root";

.containers {
  @extend %flexCenterCenter;
  height: 100vh;
  box-sizing: border-box;
  .block {
    @include blockStyle($padding: 42px 64px 68px, $width:280px);

    // &:global(.class) {

    // }\

    .title {
      @include title();
    }

    .text {
      @include text($letter-spacing: 0.15px);
      margin-bottom: 37px;
    }

    .input {
      width: 100%;
    }

    .smolllink {
      margin: 30px 0 10px;
      text-align: right;
    }

    .chackbox {
      margin: 23.5px 0;
      .colorheckbox {
        color: $focus-color;
      }
    }

    .button {
      @include buttonStyles();
    }
  }
}
