@import "../../styles/root";

.passwordContainers {
  @extend %flexCenterCenter;
  background: rgb(230, 230, 235);
  padding-top: 90px;
}

.passwordBlock {
  @include blockStyle($width: 500px, $padding: 53px 40px 20px);

  .passwordTitle {
    @include tabuLearnH2;
  }

  .passwordText {
    padding: 15px 0 25px;
    @include tabuLearnH3;
  }

  .passwordLabel {
    @include labelStyle();

    .passwordLabelSpan {
      @include labelSpanStyle();
    }
  }

  .passwordInput {
    @include inputStyles();
  }

  .passwordIcon {
    @extend %fieldIcon
  }

  .passwordButton {
    @include buttonStyles();
    margin-top: 10px;
  }

  .passwordFormText {
    text-align: center;
    margin-top: 10px;
    line-height: 28px;

    a {
      color: #2cb3ff;
      text-decoration: underline;
    }
  }
}
