@import "../../styles/root";

.passwordContainers {
  @extend %flexCenterCenter;
  background: rgb(230, 230, 235);
  padding-top: 90px;
}

.passwordBlock {
  padding-top: 96px;
  width: 500px;
  background: #ffffff;
  border-radius: 30px;
  padding: 53px 40px 38px;

  .passwordTitle {
    @include tabuLearnH2;
  }

  .passwordText {
    padding: 15px 0 25px;
    @include tabuLearnH3;
  }

  .passwordLabel {
    @include labelStyle();

    .passwordLabelSpan {
      @include labelSpanStyle();
    }
  }

  .passwordInput {
    @include inputStyles();
  }

  .passwordButton {
    @include buttonStyles();
    margin-top: 10px;
  }
}
