@import "../../../resources/root";

.containers {
    @extend %flexCenterCenter;
    background: rgb(230, 230, 235);
    padding-top: 90px;
  }
  
  .block {
    @include blockStyle( $padding: 42px 64px 62px);
  
    .title {
      @include title();
    }
  
    .text {
      @include text;
    }
  
    .label {
      @include labelStyle();
  
      .labelSpan {
        @include labelSpanStyle();
      }
    }
  
    .input {
      @include inputStyles();
    }
  .placeholder::placeholder{
    letter-spacing: 3px;
  }
    .icon {
      @extend %fieldIcon
    }
  
    .button {
      @include buttonStyles();
      margin-top: 10px;
    }
  
    .formText {
      text-align: center;
      margin-top: 10px;
      line-height: 28px;
  
      
    }
    .link {
        color: #2cb3ff;
      }
  }