@import "../../../styles/root";

.company-details-containers {
  @extend %flex-center-center;
  background: rgb(230, 230, 235);
  padding-top: 90px;
}
.company-details-block {
  padding-top: 96px;
  width: 500px;
  background: #ffffff;
  border-radius: 30px;
  padding: 53px 40px 38px;
  .company-details-title {
    @include tabuLearn-h2;
  }
  .company-details-text {
    padding: 15px 0 25px;
    @include tabuLearn-h3;
  }
  .company-details-label {
    @include label-style();
    .company-details-label-span {
      @include label-span-style();
    }
  }
  .company-details-input {
    @include input-styles();
  }
  .company-details-button {
    @include button-styles();
    margin-top: 10px;
  }
}
