@import "../../styles/root";

.companyDetailsContainers {
  @extend %flexCenterCenter;
  background: rgb(230, 230, 235);
  padding-top: 90px;
}
.companyDetailsBlock {
  @include blockStyle($width: 500px, $padding:53px 40px 38px);
  .companyDetailsTitle {
    @include tabuLearnH2;
  }
  .companyDetailsText {
    padding: 15px 0 25px;
    @include tabuLearnH3;
  }
  .companyDetailsLabel {
    @include labelStyle();
    .companyDetailsLabelSpan {
      @include labelSpanStyle;
    }
  }
  .companyDetailsInput {
    @include inputStyles();
  }
  .companyDetailsDutton {
    @include buttonStyles();
    margin-top: 10px;
  }
}
