@import "../../../resources/root";

.containers {
  @extend %flexCenterCenter;
  height: 100vh;
  .block {
    @include blockStyle($padding: 42px 64px 74px);

    .title {
      @include title();
    }

    .text {
      @include text();
      margin:0 80px 37px;
    }
    .textLink {
      @include text();
      display: inline-block;
      margin-top: 16px;
      color:$focus-color;
    }
    .input {
      width: 100%;
    }
    .button {
      @include buttonStyles($width: 100%);
      margin-top: 50px;
    }
  }
}
